/*
 *-------------------------------------------------------
 * LAYOUT
 *-------------------------------------------------------
 */

/*Size*/
.km-full{
	width: 100%;
	max-width: 100%;
}



.align-center {
	float: none!important;
	display:block!important;
	margin-left: auto!important;
	margin-right: auto!important;
}

.km-bg-pos-top{
	background-position: top!important;
}

.km-bg-pos-center{
	background-position: center!important;
}

.km-bg-pos-bottom{
	background-position: bottom!important;
}


.km-margin-none{
	margin: 0!important;
}
.km-padding-none{
	padding:0!important;
}




/*
 *-------------------------------------------------------
 * FORM
 *-------------------------------------------------------
 */

.km-form-input-large {
	input,
	button,
	.km-button {
		padding: $button-med;
		height:auto;
	}
}

.km-form-hide-title .form-title,
.km-form-hide-label label {
	display:none!important;
}

#blackout {
    z-index: 100000;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

form.km-form-frameless,
.km-form-frameless form{
	background:none!important;
	border:none!important;
	padding: 0 !important;
}

.km-button-inline{
	padding: 0;
	display:none;
	@media #{$large-up}{
		display: block;
	}
	
	.hs-form-field{
		input{
			height: 3.5em;
		}
	}

	.hs_submit{
		position:absolute;
		top:0;
		right:0;

		.hs-button,
		button,
		input{
			@include border-radius( 0 $global-radius $global-radius  0);
		}
	}
}

/*
 *-------------------------------------------------------
 * COLOR
 *-------------------------------------------------------
 */


@each $name, $value in $colors {
	.km-bg-#{$name}{
		background-color: $value;
	}
}

@each $name, $value in $grayscale{
	.km-bg-#{$name}{
		background-color: $value;
	}
	.km-text-#{$name}{
		color: $value;
	}
}
//one off, find other solution later
.km-bg-info-accent{
		background-color: lighten($info-color,20);
	}

/*
 *-------------------------------------------------------
 * Transform
 *-------------------------------------------------------
 */
.km-flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
