/*
 *-------------------------------------------------------
 * LAYOUT
 *-------------------------------------------------------
 */

/*Size*/
.km-full,
.km-full-width{
	width: 100%;
	max-width: 100%;
}



.align-center {
	float: none!important;
	display:block!important;
	margin-left: auto!important;
	margin-right: auto!important;
}

.km-bg-pos-top{
	background-position: top!important;
}

.km-bg-pos-center{
	background-position: center!important;
}

.km-bg-pos-bottom{
	background-position: bottom!important;
}


.km-margin-none{
	margin: 0!important;
}

.km-padding-none{
	padding:0!important;
}

@each $side in $sides{
	.km-margin-#{$side}-none{
		margin-#{$side}: 0!important;
	}

	.km-padding-#{$side}-none{
		padding-#{$side}: 0!important;
	}
} 


@media #{$medium-down}{
	.km-mobile-padding-horizontal{
		padding-right: $global-spacing-sm;
		padding-left: $global-spacing-sm;
	}

	.km-mobile-padding-vertical{
		padding-top: $global-spacing-sm;
		padding-bottom: $global-spacing-sm;
	}	
}





/*
 *-------------------------------------------------------
 * FORM
 *-------------------------------------------------------
 */

.km-form-input-large {
	input,
	button,
	.km-button {
		padding: $button-med;
		height:auto;
	}
}

.km-form-hide-title .form-title,
.km-form-hide-label label {
	display:none!important;
}

#blackout {
    z-index: 100000;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

form.km-form-frameless,
.km-form-frameless form{
	background:none!important;
	border:none!important;
	padding: 0 !important;
}

.km-button-inline{
	padding: 0;
	display:none;

	@media #{$large-up}{
		display: block;
	}
	
	& > div {
		position:relative;
	}

	.hs-form-field{
		input{
			height: 3.5em;
		}
	}

	.hs_submit{
		position:absolute;
		top:0;
		right:0;

		.hs-button,
		button,
		input{
			@include border-radius( 0 $global-radius $global-radius  0);
		}
	}
}


.km-form-center [data-hs-cos-type="form"]{
	display:block;
	@include align-center;
}

/*
 *-------------------------------------------------------
 * COLOR
 *-------------------------------------------------------
 */


@each $name, $value in $colors {
	.km-bg-#{$name}{
		background-color: $value;
	}
}

@each $name, $value in $grayscale{
	.km-bg-#{$name}{
		background-color: $value;
	}
	.km-text-#{$name}{
		color: $value;
	}
}
//one off, find other solution later
.km-bg-info-accent{
		background-color: lighten($info-color,20);
	}

/*
 *-------------------------------------------------------
 * Transform
 *-------------------------------------------------------
 */
.km-flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}



// BORDER
///////////////////////////////////
.km-border {
	border: $border-base;
}

@each $side in $sides{
	.km-border-#{$side}{
		border-#{$side}: $border-base;
	}
}
@each $color-name, $color-value in $colors{
	.km-border-#{$color-name}{
		border-color: $color-value;
	}
}
.km-border-thin{
	border-width: $border-width-thin;
}
.km-border-medium{
	border-width: $border-width-medium;
}
.km-border-thick{
	border-width: $border-width-thick;
}


// CARD
/////////////////////////////////////
.km-card{
	@include box-shadow(0 1px 2px rgb(221, 221, 221));
	@include box-shadow(0 1px 2px rgba(0,0,0,.3) );
	background-color: white;
}
