/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * LAYOUT > BODY
 *----------------------------------------------------------------------------------------------------------------------------
 */
.body-container {
	margin: $global-spacing auto 0;
	max-width: $row-width;

	.widget-span {
		margin-bottom: $global-spacing;
	}

	& > .row-fluid-wrapper > .row-fluid > .widget-span {
		padding: 0 16px;
	}
}