/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * LAYOUT > BODY
 *----------------------------------------------------------------------------------------------------------------------------
 */

.body-container-wrapper {
    padding-top: $global-spacing + 10;
}

.body-container {
	margin: 0 auto;
	max-width: $row-width;
	padding: 0 16px;
	min-height: 600px;
	
	.widget-span {
		margin-bottom: $global-spacing;
	}

	& > .row-fluid-wrapper > .row-fluid > .widget-span {
		//padding: 0 16px;
	}
}

.km-page-full-width,
.km-page-full {
	.body-container{
		max-width: 100%;
		padding: 0;
	}
}


.km-row {
	@include center;
	max-width: $row-width;
	width: 100%;
	float:none!important;
	mamroud:mamroud;
}

.km-row-narrow { 
	@extend .km-row;
	max-width: $row-width-narrow;
}

.km-row-wide {
	@extend .km-row;
	max-width: $row-width-wide;
}

.km-row-full {
	max-width: 100%!important;
	padding: 0 !important;
}

.km-row,
.km-row-wide {
	.row-fluid{
		@extend .km-row;
	}
}


.km-wrapper{
	@extend .km-row;
}

.km-wrapper-inner{
	@extend .km-row;
	padding: 0 $global-spacing;
}

.km-width-full{
	width:$width-full;
	max-width:$width-full;
}


