/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * HEADER
 *----------------------------------------------------------------------------------------------------------------------------
 */



.top-bar {
	background-image: $grain;
	@include raised;
	height: 60px;
	z-index: 1000;
	overflow: visible;


	@media #{$large-up}{
		padding: 15px;
		height: auto;
	}

	.km-toggle{
		color: $white;
		line-height: 60px;

		&:last-of-type{
			text-align: right;
		}
	}
}

.km-top-bar-only .top-bar{
	@media #{$large-up}{
		margin-bottom:3em;
	}
}

.km-logo-wrapper {
	display: inline-block;

	.km-logo{
		@include border-radius(0 0 $global-radius $global-radius);
		@include box-shadow( 0 1px 10px 0 rgba(0,0,0,.5) );
		background-color: $white;
		border: solid 1px #C5C5C5;
		border-top: none;
		left: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 10px 25px 10px;
		position: absolute;
		top: 0;
		width: auto;

		@media #{$large-up} {
			top: -15px;
			padding: 15px 25px 20px;
		}

		img{
			width: 100%;	
		}

	}
}


.km-contact-wrapper{
	text-align:center;

	.km-contact-header{
		color: $white;
		font-size: 1.7em;
		line-height: 1.2;
		padding: 0 0 .4rem;
	}

	.km-contact-sub-header{
		color: lighten($tertiary-color, .2 );
		font-size: 1em;
		line-height: 1;
		padding:0;
		min-height: 1em;
	}
}




.km-banner{
	max-height: 140px;
	width: 100%;
	overflow: hidden;
	background-position: center;
	background-size:cover;
	
	@media #{$medium-up}{
		max-height: 240px;	
	}
	
	img,
	.km-banner-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 0;
		height: 100%;
		width: 100%!important;
	}
}