/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * HEADER
 *----------------------------------------------------------------------------------------------------------------------------
 */



.top-bar {
	background-image: $grain;
	@include raised;
	height: 60px;
	z-index: 1000;
	overflow: visible;


	@media #{$large-up}{
		padding: 15px;
		height: auto;
	}

	.km-toggle{
		color: $white;
		line-height: 60px;

		&:last-of-type{
			text-align: right;
		}
	}

}

.km-top-bar-only .top-bar{
	@media #{$large-up}{
		margin-bottom:3em;
	}
}

.km-logo-wrapper {
	display: inline-block;

	.km-logo{
		@include border-radius(0 0 $global-radius $global-radius);
		@include box-shadow( 0 1px 10px 0 rgba(0,0,0,.5) );
		background-color: $white;
		border: solid 1px #C5C5C5;
		border-top: none;
		left: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 10px 25px 10px;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

		@media #{$large-up} {
			top: -15px;
			padding: 15px 25px 20px;
		}

		img{
			width: 100%;	
		}

	}
}


.km-contact-wrapper{
	text-align:center;

	.km-contact-header{
		color: $white;
		font-size: 1.7em;
		line-height: 1.2;
		padding: 0 0 .4rem;
	}

	.km-contact-sub-header{
		color: lighten($tertiary-color, .2 );
		font-size: 1em;
		line-height: 1;
		padding:0;
	}
}







.km-banner{
	max-height: 140px;
	width: 100%;
	overflow: hidden;
	background-position: center;
	background-size:cover;
	
	@media #{$medium-up}{
		max-height: 240px;	
	}
	
	img,
	.km-banner-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 0;
		height: 100%;
		width: 100%!important;
	}
}

/*

.km-nav-mobile-wrapper {
	position: fixed;
	z-index: 100001;
	background: #85695b;
	color: white;
	top: 0;
	bottom: 0;
	left:-50%;
	overflow:scroll;
	width: 50%!important;

	a{
		color:white;
		padding: .7em 1.5em;
		display:block;
		font-size: 1.1em;
		border-bottom: solid 1px rgba(255,255,255,.2);
	}

	ul{
		list-style:none;
		padding:0;
		margin:0;
		width: 100%;

		li{ 
			width: inherit;
		}
	}
}










TO DELETE
old header styling




.km-headers {
	width: 100%;
	display:block;
	z-index: 1000;
	position: relative;

	.top-bar{
		@include raised;
		background-color: $header-color;
		background-image: $grain;
		color: $topbar-text-color;
		list-style: none;
		position: absolute;
		z-index: 10;

		.km-logo {
			@include border-radius(0 0 $global-radius $global-radius);
			@include box-shadow( 0 1px 10px 0 rgba(0,0,0,.5) );			
			background: $white;
			border-top: 0;
			border: solid 1px #C5C5C5;
			margin-left:0;
			margin-right:0;
			padding: 10px;
			position: relative;
			text-align: center;
			z-index: 100;

			@media #{$large-up} {
				margin-top: -80px;				
				top: 70px;
			}

			img{
				width: auto!important;
			}
		}

		.km-header-info{
			margin-top: 8px;
			color: lighten($header-color,30);
			line-height: 1.5;

			strong{
				color: $white;
				@include text-shadow(0 1px 1px darken($header-color,15) );
				font-size: 1.4em;
				font-weight: normal;
			}
		}

		.km-search{
			margin-top: 13px;
			@extend .km-postfix-button;
		}
	}

	#{text-inputs(all, 'input')}{
		border-color: darken($header-color,7);
	}
}


*/