/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * MODULE > FORM
 *----------------------------------------------------------------------------------------------------------------------------
 */


// GLOBAL FORMS
////////////////////////////

//FORM
[data-hs-cos-type="form"]{
	max-width: 500px;
}

// FORM TITLE
.form-title{
	text-align:center;
}

// BUTTONS
#{text-inputs(all, 'input')} {
	@include border-radius($input-border-radius);
}

input[type="submit"] {
	@include button($button-med, $info-color, true);
}

//INPUTS
input{
	background-color:$white;
}

//BODY FORMS
.body-container-wrapper{


		

	.hs-form,
	form {
		background-color: $smoke;
		padding: 1em 1em .5em 1em;
		border: #EAEAEA solid 1px;
	    border-top: none;
	    @include border-radius( 0 0 $global-radius $global-radius);

		button:not(.pika-prev):not(.pika-next),
		.button,
		.hs-button,
		.km-button{
			width:100%;
		}

		
		
		fieldset{
			//INPUTS
			.hs-input,
			.input{
			
				&.error{
					border: solid 1px $alert-color;
					margin: 0 0 1rem 0;
				}
				
				input {
					height: auto;
					padding: $button-sml 1em;
				}

				select{
					@include border-radius($global-radius);
					background-color:$white;
				}
			}
		

			input[type=checkbox],
			input[type="radio"]{
			  /* Double-sized Checkboxes */
			  -ms-transform: scale(2); /* IE */
			  -moz-transform: scale(2); /* FF */
			  -webkit-transform: scale(2); /* Safari and Chrome */
			  -o-transform: scale(2); /* Opera */
			  width: auto!important;
			}
			
			input[type="checkbox"],
			input[type="radio"],
			input[type="checkbox"] + span,
			input[type="radio"] + span {
			    margin-left: 10px;
			}
			
			select{
				word-break: break-word;
				height:auto;
			}

			//LARGE SCREEN INPUTS
			@media #{$medium-up}{
				input[type=checkbox],
				input[type="radio"]{
					/* Double-sized Checkboxes */
					-ms-transform: scale(1); /* IE */
					-moz-transform: scale(1); /* FF */
					-webkit-transform: scale(1); /* Safari and Chrome */
					-o-transform: scale(1); /* Opera */
					margin-left: 0;
				}
			}

			//FIELDS
			.hs-form-field{
				&:last-of-type .input {
					margin-right: 0;
				}

				.hs-input{
					width: 100%;
				}
			}

			&.form-columns-3{
				@media #{$medium-up}{
					
				}
			}

			ul {
			    list-style: none;
			    margin: 0;

				input[type="checkbox"],
				input[type="radio"]{
					margin-right: 8px;
				}
			}


			.hs-form-required{
				display:none;
			}
		}


		.hs-error-msgs {
			display:none!important;
		}
	}
	
	.form-title{
		@extend h3;
		@include background-border($info-color, true);
		@include border-radius($global-radius $global-radius 0 0);
		border-bottom: none;
		color: $white;
		line-height: 1;
		margin-bottom: 0;
		padding: .5em;
		text-align: center;
	}
}

//VALIDATION
ul.hs-error-msgs{
	display:none!important;
}


// Placeholder Text
::-webkit-input-placeholder{ color: $placeholder-font-color; }
:-moz-placeholder{ color: $placeholder-font-color; }
::-moz-placeholder{ color: $placeholder-font-color; }
:-ms-input-placeholder{ color: $placeholder-font-color; }



//Sidebar Forms
.km-sidebar{
	button,
		.button,
		.hs-button,
		.km-button{
			width:100%;
	}

	form{
		padding: .5em .5em 0 .5em;
	}
}




