/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * MODULE > ICON
 *----------------------------------------------------------------------------------------------------------------------------
 */

.km-icon{
	@extend .fa;
	padding: 0 .5em;
}

.km-icon-right{
	@extend .km-icon;
	padding: 0 0 0 .8em;
}
.km-icon-left{
	@extend .km-icon;
	padding: 0 .8em 0 0;
}

.km-icon-menu{
	@extend .fa-bars;
}

.km-icon-search{
	@extend .fa-search;
}

.km-icon-user{
	@extend .fa-user;
}

.km-icon-phone{
	@extend .fa-phone;
}

.km-icon-bullhorn{
	@extend .fa-bullhorn
}

.km-icon-money{
	@extend .fa-money;
}

.km-icon-arrow-up{
	@extend .fa-chevron-up;
}

.km-icon-arrow-right{
	@extend .fa-angle-right;
}

.km-icon-calendar{
	@extend .fa-calendar;
}

.km-icon-mail{
	@extend .fa-envelope;
}