/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * MODULE > NAVIGATION
 *----------------------------------------------------------------------------------------------------------------------------
 */

%list-item-active {
	//background-color: $list-background-color;
	//border-bottom: $list-border-style;
	padding: 0.4rem 2rem;
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 1px;
	display: block;
	display: inline-table;
	visibility: visible;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	box-sizing: border-box;
}

%list-item-inactive {
	@include transition( max-height 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.4s ease-in-out, visibility 0.5s linear 0s );
	visibility: hidden;
}

%list-item-vertical-inactive {
	@extend %list-item-inactive;
	max-width: 0;
	border-left: none;
	border-right: none;
	padding-left: 0;
	padding-right: 0;
}

%list-item-horizontal-inactive {
	@extend %list-item-inactive;
	max-height: 0;
	border-top: none;
	border-bottom: none;
	padding-top: 0;
	padding-bottom: 0;
}





//All Menus
.hs-menu-wrapper {
	//All Menus
	ul {
		
		li {
			
		}
	}

	//All Flyout Menus 
	&.flyouts ul {
		list-style: none;
		padding:0;
		margin:0;

		li {
			position:relative;
			padding:0;
			margin:0;

			& > a {
				@extend %list-item-active;
			}
		}

		//All li with Children
		.hs-item-has-children{
			
			//All Child Wrappers ul
			.hs-menu-children-wrapper{

			}
		}

	}
}




//Horizontal Menu
.hs-menu-flow-horizontal {
	position: relative;
	z-index: 100;

	//Horizontal Flyout Menu
	&.flyouts > ul {
		
		//.hs-menu-flow-horizontal.flyouts > ul li
		li {
			display:inline-block;
			
			ul.hs-menu-children-wrapper {
				width: 100%;
				position:absolute;
				z-index: 3;
				display: inline-table;

				li {
					width:100%;

					a {
						@extend %list-item-horizontal-inactive;
					}

					&.hs-item-has-children {

						ul.hs-menu-children-wrapper {
							top: 0;
							left: 100%;
						}

						& > a:after {
							@include icon($fa-angle-right, right);
						}
					}
				}
			}
			
			//Hover State
			&.hs-item-has-children {
				/*
				//Horizontal Items Hover States
				a:hover + .hs-menu-children-wrapper,
				.hs-menu-children-wrapper:hover {
					z-index: 150;

					& > li > a {
						@extend %list-item-active;
					}
				}*/

			 	& > a:after {
					@include icon($fa-angle-down, right);
				}
			}	
		}	
	}
}





//Vertical Menu
.hs-menu-flow-vertical {
	
	//Top Level List
	& > ul {
		display:inline-block;
	}
	
	//With Flyouts
	&.flyouts {
		
		& ul > li {

			&:first-of-type > a,
			%list-top {
				//border-top: $list-border-style;
			}			
		}

		//Parent Menu Items
		li.hs-item-has-children {
			position: relative;

			//Icons
			& > a:after {
				@include icon($fa-angle-right, right);
			}

			//Child Menu Containers
			ul.hs-menu-children-wrapper {
				position: absolute;
				z-index: 3;
				top: 0;
				left: 100%;

				& > li > a {
					@extend %list-item-vertical-inactive;
				}

				& > li:first-of-type a {
					@extend %list-top !optional;
				}
			}
			
			//Hover States
			/*
			a:hover + .hs-menu-children-wrapper,
			& > .hs-menu-children-wrapper:hover {
				
				& > li > a {
					@extend %list-item-active;
				}
			}
			*/
		}
	}
}







.hs-menu-children-wrapper:hover ~ a{
	background: $grain lighten($secondary-color, 5 );
}

.km-nav-primary.km-navigation {
	width: 100%;
	background: $grain $secondary-color;
	background-color: $secondary-color;
	background-image: $grain;
	height: $navigation-height;
	@include raised($secondary-color);

	& > span{
		position:relative;
		display:block;
	}

	.hs-menu-wrapper { 
		max-width: $row-width;
		position: static;
		@include align-center;

		ul {

			& > li {
				width: 20%!important;
				position: static;
				float:left;

				a{
					padding: 0 1em;
					margin: 0;
					line-height: $navigation-height;
					background: none;
					color: $white;
					text-align: center;
					@include transition(background 0.4s ease-in-out);
					letter-spacing: 1.2px;
				}
			}
		}

		
		//First Level
		& > ul > li > a {
			@include inset-text($secondary-color);

			&:hover,
			ul:hover + a {
				background: $grain lighten($secondary-color, 5 );
				@include box-shadow(inset 0 -3px $white);
			}
		}
		

		//Second Level
		.hs-item-has-children {
			//Default State (Hidden)
			& > ul {
				@include transition(max-height 1s ease-in-out, visibility 1s linear 0s );
				@include transition-delay(0);
				background-color: $info-color;
				border-bottom: solid 1px darken($info-color, 10);
				display: block;
				left: 0;
				max-height: 0;
				overflow: hidden;
				padding: 0 calc(50% - 570px)!important;
				right: 0;
				top: $navigation-height;
				visibility: hidden;

				& > li {
					display: inline-block;

					& > a {
						transition: color 0.4s ease-in-out;
						font-size: 1em;
						line-height: $navigation-height;
						max-height: $navigation-height;
						visibility: visible;
						color:white;
						position: relative;
						display: block;
						background: $info-color;

						/*&:after{
							@include icon($fa-angle-right, right);
							    padding: 0 .5rem 0 .7rem;
    							right: 0;
						}*/
						&:hover{
							background: lighten($info-color, 2);
						}
					}
				}
			}
			
			
			
			//Hover State (Visible)
			& > a:hover + ul,
			& > ul:hover {
				z-index: 10;//Bring active menu to top
				visibility: visible;
				max-height: 300px;
			}

		}
	}	
}

@media #{$medium-down}{
	.km-nav-mobile[data-widget-type="menu"]{

	}
}






/*
 *-------------------------------------------------------
 * SECONDARY NAVIGAITONS
 *-------------------------------------------------------
 */

.km-nav-breadcrumb,
.km-nav-deeper {
	a{
		color: $secondary-color;
		text-decoration: underline;
	}
}

// BREADCRUMBS
//////////////////////////
.body-container-wrapper{
	.km-nav-breadcrumb{
	 	margin: -25px 0 10px;

		.hs-breadcrumb-menu{
			text-transform: uppercase;
			font-size: .8rem;
		}
 		
 		.hs-breadcrumb-menu-item {}
 	}
}

// FORWARD NAV
//////////////////////////
.km-nav-deeper{
	@include border-radius(3px);
	border: solid 1px $tertiary-color;
	list-style:none;
	margin-left: 0;
	padding: 0 1em;
	text-align: center;
	line-height: initial;

	ul{
		text-align: left;
		list-style: none;
		margin-left: 0;

		& > li:last-of-type > a:after {
			display: none;
		}
	}

	li {
		display:inline-block;

		&.km-has-children{
			display:inline-block;
			overflow:hidden;
			text-align:left;
			margin-left: 1.5em;
			
			&:first-of-type{
				margin-left: 0;
			}

			ul {
				display: inline-block;
			}

			label{
				display:inline-block;
				min-width: 4em;
				text-transform: uppercase;
				color: $steel;

				&:after{
					content: ":";
				}

				a:after{
					display:none;
				}
			}
		}

		a{
			margin: 0;
			padding: .7em 0 .7em 1em;
			display: inline-block;
			color: $secondary-color;	
		}

		&:after{
			content: '|';
			color: $steel;
			padding: 0 0 0 1em;
		}

		&:last-of-type:after,
		&.km-has-children:after{
			display:none;
		}
	}
}








